.Imageupload-label {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
}

.Imageupload-previewText {
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    font-style: italic;
}