.Listproduct-table {
    background-color: #F5F5F5;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1); 
    margin: 0 10px 10px 10px;
}

.Listproduct-buttons {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 7.5vh;
    align-items: center;
}

.Listproduct-messages {
    display: flex;
    flex-direction: column;
    height: 440px;
    margin: 0 0 10px 0;
    overflow: scroll;
}

.Listproduct-modal {
    padding: 10px;
}

.Listproduct-cell {
    margin: 0;
    line-height: 60px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5px;
}

.Listproduct-vignette {
    line-height: 60px;
    background-color: #1abc9c;
    font-size: 11px;
    margin: 5px;
    padding: 5px; 
    color: #F9F9F9;
    border-radius: 2px;
}

.Listproduct-cell-container {
    flex: 1;
    flex-direction: row;
    text-align: center;
}

.Listproduct-delete {
    border-radius: 2px;
    padding: 5px;
    background-color: #CC6155;
    cursor: pointer;
    color: #F9F9F9;
    line-height: 60px;
    font-size: 12px;
}

.Listproduct-delete:hover {
    background-color: #D3746A;
    opacity: 0.9;
}

.Listproduct-edit {
    border-radius: 2px;
    padding: 5px;
    background-color: #1abc9c;
    cursor: pointer;
    color: #F9F9F9;
    line-height: 60px;
    font-size: 12px;
}

.Listproduct-edit:hover {
    background-color: #1cd7b5;
    opacity: 0.9;
}

.Listproduct-header-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f202e;
    height: 50px;
    border-radius: 5px 5px 0 0
}

.Listproduct-header-label {
    color: #F9F9F9;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.ReactTable {
    border: 0 !important;
}