.Sidebar-container {
  display: flex;
  flex-direction: column;
  flex: 0.12;
  overflow: auto;
  background: #1d2027;
}

.Sidebar-header {
  height: 7.5vh;
  background-color: #1d2027;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #282c36;
  border-right: 1px solid #282c36;
}

.Sidebar-nav {
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #282c36;
}

.Sidebar-title {
  color: #cc6155;
  font-weight: 100;
  font-size: 20px;
  font-family: "Lobster", cursive;
  margin-left: 10px;
}

.Sidebar-icon {
  color: #f9f9f9;
}

.Sidebar-status {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
}

.Sidebar-status-img {
  height: 35px;
  width: 30px;
  margin: 10px;
}

.Sidebar-status-label {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
}

