.Listproduct-table {
  height: 92.5vh;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.Listproduct-messages {
  display: flex;
  flex-direction: column;
  height: 440px;
  margin: 0 0 10px 0;
  overflow: scroll;
}

.Listproduct-modal {
  padding: 10px;
}

.Listproduct-cell {
  line-height: 60px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 0 5px;
}

.Listproduct-vignette {
  line-height: 60px;
  background-color: #1abc9c;
  font-size: 11px;
  margin: 5px;
  padding: 5px;
  color: #f9f9f9;
  border-radius: 2px;
}

.Listproduct-cell-container {
  flex: 1;
  flex-direction: row;
  text-align: center;
}

.Listproduct-delete {
  border-radius: 2px;
  padding: 5px;
  background-color: #cc6155;
  cursor: pointer;
  color: #f9f9f9;
  line-height: 60px;
  font-size: 12px;
}

.Listproduct-delete:hover {
  background-color: #d3746a;
  opacity: 0.9;
}

.Listproduct-edit {
  border-radius: 2px;
  padding: 5px;
  background-color: #1abc9c;
  cursor: pointer;
  color: #f9f9f9;
  line-height: 60px;
  font-size: 12px;
}

.Listproduct-edit:hover {
  background-color: #1cd7b5;
  opacity: 0.9;
}

.Listproduct-header-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d2027;
  height: 40px;
}

.Listproduct-header-label {
  color: #f9f9f9;
  font-size: 12px;
  letter-spacing: 1px;
}

.ReactTable {
  border: 0 !important;
}

.rt-resizable-header-content {
  font-family: "Open Sans", serif;
  font-size: 14px;
}
