.Listbrand-buttons {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 7.5vh;
    align-items: center;
    background-color: #1D2027;
}

.Listbrand-table {
    background-color: #F5F5F5;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    margin: 0 10px 10px 10px;
}

.Listbrand-cell {
    line-height: 60px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 0 5px;
}

.Listbrand-delete {
     border-radius: 2px;
     padding: 5px;
     background-color: #CC6155;
     cursor: pointer;
     color: #F9F9F9;
     line-height: 60px;
     font-size: 12px;
 }

.Listbrand-delete:hover {
    background-color: #D3746A;
    opacity: 0.9;
}

.Listbrand-edit {
    border-radius: 2px;
    padding: 5px;
    background-color: #1abc9c;
    cursor: pointer;
    color: #F9F9F9;
    line-height: 60px;
    font-size: 12px;
}

.Listbrand-edit:hover {
    background-color: #1abc9c;
    opacity: 0.9;
}