.Sidebar-container {
    width: 12vw;
    height: 100vh;
    overflow: auto;
    background: #1D2027;
}

.Sidebar-header {
    height: 7.5vh;
    background-color: #1d2027;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #282c36;
    border-right: 1px solid #282c36;
}

.Sidebar-nav {
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #282c36;
}

.Sidebar-title {
    color: #CC6155;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    margin-left: 10px;
}

.Sidebar-icon {
    color: #F9F9F9;
}