
.Overview-spinner {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.Overview-chart {
    width: 600px;
    height: 250px;
}

.Overview-summary {
    padding-top: 55px;
    padding-left: 25px;
    display: inline-block;
    margin-right: 20px;
}